# Ejecutable y empaquetado
dist/
build/
*.spec
*.exe

# Base de datos (cualquier copia, en cualquier carpeta)
*.db
*.db-journal

# Entornos virtuales
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
.env

# VS Code
.vscode/

# Logs
*.log